<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>Nombre de receta</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Editar recetas <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Agregar ingredientes a la lista de compras</a></li>
        <li><a href="#">Editar ingredientes de la lista de compras</a></li>
        <li><a href="#">Eliminar ingredientes de la lista de compras</a></li>

      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Descripcion</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Ingredientes</p>
  </div>
</div>
